h1 {
    font-size: 40px;
    color: crimson;
    margin-left: 35%;


}

p {
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(49, 211, 28);

}

img {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 20%;
    margin-left: 20%;

}

.press-button {
    text-decoration: none;
    background-color: rgb(98, 0, 255);
}