h1 {
    color: chartreuse;
    font-size: 400%;
    text-align: center;

}

.Collecting-Fund {
    text-decoration: none;
    background-color: rgba(12, 93, 199, 0.74);
    padding: 5px 15px;
    color: antiquewhite;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 45%;
}