h1 {
    color: chartreuse;
    font-size: 400%;
    text-align: center;

}

.p {
    color: rgb(192, 30, 130);
}


.Collecting-Fund {
    text-decoration: none;
    background-color: darkorange;
    padding: 10px 40px;
    color: antiquewhite;
    font-size: 150%;
    border-radius: 5%;
    margin-left: 45%;
}


.first-fund {
    width: 200px;
    height: 100px;
    border: 2px solid rgb(12, 10, 143);
    text-align: center;
    font-size: 200%;
    border-radius: 10px;

}

.Choose-Option {
    display: flex;
    justify-content: space-evenly;
}

.link-button {
    text-decoration: none;
    color: azure;
    background-color: blue;
    border-radius: 5px;
    font-size: 30px;
}